h1 {
    color: #000080;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.navbar-custom {
    color: #FFFFFF;
    background-color: #000080;
}

/*fiddling with this to see if I could get checkboxes closer together*/
/*.form-group {
    margin:0px 0px;
    padding:0px;
}*/

body {
    padding-left: 35px;
    padding-right: 35px;
}

html, body {
    padding-top: 5px;
}

th, td {
    padding: 15px;
    text-align: left;
}

/* For crispy forms */
/* To get rid of errors on number field */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
legend{
    font-size: 18px;
    width: 50%;
}
fieldset{
    margin-bottom: 50px !important;
    margin-top: 50px !important;
}

/*select[multiple] {
	width: 20em;
}*/

/* to put checkbox on left, before text */
input[type="checkbox"] {
    float: left;
    margin-right: 10px;
    margin-top: 4px;
}