SECRET_KEY = '**************************************************'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '****',
        'USER': '****',
        'PASSWORD': '****',
        'HOST': '127.0.0.1',
        'PORT': '',
    }
}

# this is to allow for different URL configs in development vs production
ROOT_URLCONF = 'longdb_dns.urls_dev'
STATIC_URL = '/static/'